<!DOCTYPE html>
<html lang="en">
<head>
<title>Molfile Viewer</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
{% load static %}
<link rel="stylesheet" href="{% static 'cwc/ChemDoodleWeb.css' %}">
<link rel="stylesheet" href="{% static 'ext/resources/css/ext-all-neptune.css' %}">
<script src="{% static 'cwc/ChemDoodleWeb.js' %}"></script>
<script src="{% static 'ext/ext-all.js' %}"></script>
<script src="{% static 'ext/packages/ext-theme-neptune/build/ext-theme-neptune.js' %}" defer></script>
<script type="text/javascript" src="{% static 'main.js' %}"></script>
</head>
<body>
</body>
</html>
